<a href="<%= blog_root %>/admin/articles/new">New Post</a>

<ul>
<% for article in @articles %>
  <li><a href="<%= blog_root %>/admin/articles/<%= article.id -%>"><%=h article.to_s -%></a></li>
<% end %>
</ul>